<!-- ngrx smart-container-->
<div class='flex-container' fxFlexFill>
   <div class='grid-layout' fxLayout='column' fxFlex='100'  >
       <grid-toolbar  (updateSort)='toolbarSortUpdate($event)'></grid-toolbar>
       <grid-create-row *ngIf='revealCreateRow===true'
                        (removeAddRow)='exitEditState($event)'
                        (addGarmentModel)='garmentModelAdd($event)'></grid-create-row>
       <grid-row *ngFor=' let garment of currentGarmentSubset$ | async'
                 (updateGarmentModel)='garmentModelUpdate($event)'
                 (addRowState)='updateEditRowState($event)'
                 [rowUpdateState]='revealCreateRow'
                 [garment]='garment'></grid-row>
   </div>
</div>
