<!-- Created by willstreeter on 9/10/17. -->

<div fxLayout="row" class="grid-toolbar-row">
     <div fxLayout="column" fxFlex="5">
          <md-checkbox></md-checkbox>
     </div>
     <div class="garment-toolbar-name" fxLayout="column" fxFlex="45">
        <md-button-toggle class="toolbar-tggl-btn" (click)="updateGridSortBase('Name')"
        (dblclick)="updateChangeDirection()">
              Name
             <i class="material-icons">arrow_drop_down</i>
             <i class="material-icons arrw-hidden">arrow_drop_up</i>
        </md-button-toggle>
        <span>
        </span>
     </div>
     <div class="garment-toolbar-type" fxLayout="column" fxFlex="15">
        <button md-button [mdMenuTriggerFor]="type" class="type-btn-trigger">
             Type
        </button>
        <md-menu #type="mdMenu">
          <button md-menu-item  (click)="updateGridSortBase('Physical')">Physical</button>
          <button md-menu-item  (click)="updateGridSortBase('Digital')">Digital</button>
          <button md-menu-item  (click)="updateGridSortBase('Service')">Service</button>
        </md-menu>
     </div>
     <div class="garment-toolbar-price" fxLayout="column" fxFlex="15">
        <md-button-toggle class="toolbar-tggl-btn" (click)="updateGridSortBase('Price')"
        (dblclick)="updateChangeDirection()">
             Price
             <i class="material-icons">arrow_drop_down</i>
             <i class="material-icons arrw-hidden">arrow_drop_up</i>
        </md-button-toggle>
     </div>
     <div class="garment-toolbar-inventory" fxLayout="column" fxFlex="15">
        <md-button-toggle class="toolbar-tggl-btn"  (click)="updateGridSortBase('Inventory')"
        (dblclick)="updateChangeDirection()">
             Inventory
             <i class="material-icons">arrow_drop_down</i>
             <i class="material-icons arrw-hidden">arrow_drop_up</i>
        </md-button-toggle>
     </div>
</div>