@import '../../../../scss/vendor';

.grid-toolbar-row{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: $steel-white;
    min-height:55px;
}

md-checkbox {
   margin: auto;
}


.arrw-hidden{
   display:none;
}

.garment-toolbar-name,
.garment-toolbar-type,
.garment-toolbar-price,
.garment-toolbar-inventory{
    margin:auto;
}
.type-btn-trigger{
        text-align:left;
        padding-left:10px;
}

.toolbar-tggl-btn{
  background-color:transparent !important;
  border:none;
  box-shadow:none;
}


button .mat-button.cdk-focused.cdk-mouse-focused{
  background-color:transparent !important;
  border:none;
  box-shadow:none;
}

.mat-button-toggle-checked{
  background-color:transparent;

}
.mat-button-toggle-label-content{
  padding-left:1px !important;
}