@import '../../../../scss/vendor';


.grid-create-row{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: $steel-white;
    min-height:55px;

}

md-checkbox {
   margin: auto;
   color:$noc-color;
}
.exit-add{
  padding-top:10px;
  color:$noc-color;
}
.input-on{
    border-color:$input-color;
}

.img-thumb {
    width: 35px;
    height: 35px;
    margin:auto;
}

/* resize images */
.img-thumb img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-color:$steel-white;
    border-width: 1.75px;
}


.type-btn-trigger{
  text-align: left;
  padding-left:30px;
}


.garment-name,
.garment-type,
.garment-price,
.garment-inventory{
    margin:auto;
}
.price-input{
   text-align:right;
}

input{
    border-width:1px;
    border-style:solid;
    border-color:transparent;
    /* border-color:$steel-white;*/
    padding:5px;
    padding-left:2px;
    margin:10px;
    font-size:1em;
    color:darken($border-reg-color,10%)
}
.garment-type{
    input {
        text-align: left;
    }
}

.garment-price{
    input {
        text-align: right;
    }
}
.garment-inventory{
    input {
        text-align: right;
    }
}

.active-row{

}
.un-revealed{
   visibility: hidden
}
.do-reveal{
  visibility:visible;
}
.save-button{
  background-color:transparent;
  border:none;
  padding-top:15px;
  color:$noc-color;
  width:20px;
}